<!DOCTYPE html>
<html>
    <head>
	    <title>SATelite | Sentiment Analysis on Tumblr</title>
		<meta charset="utf-8"/>
		<meta name="description" content="">
		<meta name="author" content="Maxime PARIZOT, Franck BARBEDOR, Simon KEMPF, Simon TREBERN">
		<meta name="keywords" content="Sentiment Analysis, Tumblr, Insa, Rennes, Analyse de sentiments, Blog">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/design.css">
		<link rel="stylesheet" type="text/css" href="/jqcloud.css">
		<link rel="stylesheet" type="text/css" href="/flickity.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:300,300italic' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="/favicon.png" />
	
	<!-- camembert -->
		
    <% if(locals.tag) { %>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data1 = google.visualization.arrayToDataTable([["Types", "Nombre"],
        <% for (var type in types) { %>
        ["<%= type %>", <%= types[type] %>],
        <% } %>
        ]);

        var options1 = {
          title: 'Types des posts analysés'
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));

        chart1.draw(data1, options1);
        
        var data2 = google.visualization.arrayToDataTable(<%- JSON.stringify(positivityByType) %>);

        var options2 = {
          chart: {
            title: 'Analyse des posts par type',
          },
          colors:['#109618','#DB4437']
        };

        var chart2 = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart2.draw(data2, options2);
      }
    </script>
    <% } %>
	
		
    </head>
    <body id="analyse">
        <% include header.ejs %>
        <section class="main">  <!--utiliser le javascript sans le code-->
            <% if(locals.tag) { %>
            
            <h1><%= tag %></h1>   <!--permet d'afficher une variable-->
            <p id="score" class="<% if(score > 0) {%>positif<% } else if (score < 0) {%>negatif<% } %>"><%= score %></p>
        
            <div id="tagcloud"></div>
            
            <div>
                <h2>Posts influents</h2>
                <ul>
                    <% for (post of  topPosts)  { %>
                    <% if (post.texte.length > 140) { post.texte = post.texte.substr(0,137) + "..."; } %>
                    <li><a href="<%= post.url %>"><strong><%= post.name %></strong> : <%= post.texte %> <br>
                    <span class="score<% if(post.score > 0) {%> positif<% } else if (post.score < 0) {%> negatif<% } %>"><i class="fa fa-line-chart" aria-hidden="true"></i> <%= post.score %></span>
                    <span class="note"><i class="fa fa-heart text-danger" aria-hidden="true"></i> <%= post.note_count %></span>
                    </a></li>  
                    <% } %>
                </ul>
            </div>
            
            <div class="main-carousel">
                <% for(picture of pictures) { %>
                  <div class="carousel-cell"><img src="<%= picture.src %>" alt="<%= picture.title %>"/></div>
                <% } %>
            </div>
            
            <div>
                <h2>Principaux blogs en rapport avec "<%= tag %>"</h2>
                <ul>
                <% for (blog of  topBlogs)  { %>
                    <li><a href="<%= blog.post_url %>"><%= blog.blog_name %></a></li>  
                <% } %>
                </ul>
            </div>
            
            <% }else{ %>
                <p>Saisissez un tag pour l'analyser</p>
            <% } %>
        
        <!-- Camembert -->
        <div id="piechart"></div>
        
        <!-- Diagramme colonnes -->
        <div id="columnchart_material"></div>
        </section>
 
        
    </body>
        
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>  <!-- ajout de la librairie jQuery -->
        <script src="/jqcloud-1.0.4.min.js"></script>
        <script src="/flickity.min.js"></script>
        <script src="/script.js"></script> 
      <script type="text/javascript">
      var word_array = [
        <% for (var word in  related)  { %>
            {text : "<%= word %>", weight : <%= related[word] %>, link : "/analyse/<%= word %>"}, 
        <% } %>
      ];
      
        $(function() {
                // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
            $("#tagcloud").jQCloud(word_array);
        
            $('.main-carousel').flickity({
              wrapAround: true,
              contain: true,
              imagesLoaded: true,
              percentPosition : false,
              pageDots: false
            });
        });
    </script>
</html>